.btn-see-detail {
  border: none;
  font-size: 1.2em;
  background-color: azure(239, 219, 219);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(24, 124, 212);
  &:hover {
    opacity: 5px;
    background-color: rgb(236, 215, 215);
  }
}

.btn-modal-status-approved, .btn-modal-status-cancel{
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(90, 230, 90);
  border: none;
  margin: 10px;
  padding: 10px 15px;
  &:hover{
    opacity: 0.7;
    
  }
}
.container-orderlist{
  text-align: center;
}
.btn-modal-status-cancel{
  background-color: red;
}