.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 products per row
  gap: 30px; // Space between the products
  padding: 10px;
}

.product-card {
  padding: 15px;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;

  .product-image {
    height: 360px;
    margin-bottom: 10px;
  }

  .product-name {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: brown;
  }

  .product-price {
    margin: 15px;
    font-weight: bold;
    background-color: rgb(213, 102, 102);
    padding: 10px 15px;
    color: rgb(238, 235, 221);
    font-size: 1.2em;
    font-weight: 500;
  }
}
.fa-star {
  margin: 3px;
  color: rgb(86, 86, 10);
}
.product-price-sale {
  background-color: rgb(210, 158, 95);
  padding: 10px 15px;
  color: rgb(238, 231, 221);
  font-size: 1.2em;
  font-weight: 500;
}
.shop_search_input {
  height: 35px;
  width: 250px;
  border-radius: 10px;
}
.shop_search {
  display: flex;
  width: 300px;
  margin-left: auto;
  align-items: center;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.page-item {
  margin-right: 10px;
  border: 1px solid rgb(170, 170, 227);
  padding: 10px;
  border-radius: 5px;
  background-color: #dbe6f1;
}

.page-link {
  text-decoration: none;
  color: #007bff;
}

.page-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active_on_best_seller,
.active_on_sale{
      opacity: 0.8;
    color: brown;
    background-color: rgb(29, 196, 196);
}
.active_categories {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

.active-pagination {
  background-color: rgb(185, 185, 219);
}

.product-card:hover .goToCart {
  display: block;
}

.category {
  display: flex;
  align-items: center;
}
.shop-title {
  font-size: 2.5em;
  color: rgb(181, 7, 7);
  text-align: center;
}
h1 {
  color: brown;
  margin: 20px;
  padding: 0 15px;
  position: relative;
  border-right: 1px solid;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
// Responsive design for smaller screens
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
.sort {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  font-size: 1.2em;
}
.btn_sort {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px;
  font-size: 1em;
  &:hover {
    opacity: 0.8;
    color: brown;
    background-color: azure;
  }
}

.sort_price {
  width: 150px;
  height: 30px;
  border: none;
  font-size: 1em;
}
.product-card:hover {
  transform: scale(1.1);
}
.btn-search {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: orange;
}
